<ion-header>
  <ion-toolbar color="new">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centralizar">
  <img src ="assets/icon/github.png">
  <div class="container">
    <div class="ui-g-10 ui-md-8 ui-fluid">
      <label>E-mail: </label> 
      <input pInputText type="text">
    </div>
    &nbsp;
    &nbsp;
    <div class="ui-g-10 ui-md-8 ui-fluid">
      <label>Senha: </label> 
      <input pInputText type="text">
    </div>
    <ion-item lines="none">
      <ion-label>Manter-se logado</ion-label>
      <ion-checkbox color = "primary" checked slot ="start"></ion-checkbox>
    </ion-item>
    &nbsp;
    <ion-button color="new" size="small" href="https://github.com/">Entrar</ion-button>
    &nbsp;
    <ion-button color="new" size="small" routerLink="/cadastro">Cadastrar</ion-button>
    &nbsp;
  </div>
</div>
</ion-content>
